<table class="table">
    <thead>
        <tr>
            {% if agent_record %}<th scope="col">申請者</th>{% endif %}
            <th scope="col">類型</th>
            <th scope="col">期間</th>
            <th scope="col">時長</th>
            <th scope="col">狀態</th>
            <th scope="col">說明</th>
            <th scope="col"></th>
        </tr>
    </thead>
    <tbody>
        {% for leaveLog in leaveLogs %}
        <tr>
            <!-- 申請者 -->
            {% if agent_record %}<td>{{ leaveLog.staff.username }}</td>{% endif %}
            <!-- 類型 -->
            <td>{{ leaveLog.type.name }}</td>
            <!-- 期間 -->
            <td>
                <p>{{ leaveLog.start }} ~ {{ leaveLog.end }}</p>
            </td>
            <!-- 時長 -->
            <td>{{ leaveLog.duration }}</td>
            <!-- 狀態 -->
            {% if leaveLog.status == Status.UNDER_REVIEW %}
            <td>審核中</td>
            {% elif leaveLog.status == Status.TURN_DOWN %}
            <td>駁回</td>
            {% elif leaveLog.status == Status.AGREE %}
            <td>同意</td>
            {% endif %}
            <!-- 更動 -->
            <td>{{ leaveLog.reason }}</td>
            <!-- 時間戳 -->
            <td>{{ moment(leaveLog.timestamp).fromNow() }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>