{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Leave System - 請假紀錄{% endblock %}

{% block page_content %}
<div class="page-header">
    
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        {% if current_user.can(Permission.ADMIN) %}
            <li{% if log_status == '0' %} class="active"{% endif %}><a href="{{ url_for('.show_all_log') }}">所有同仁</a></li>
        {% endif %}
        <li{% if log_status == '1' %} class="active"{% endif %}><a href="{{ url_for('.show_self_log') }}">請假紀錄</a></li>
        <li{% if log_status == '2' %} class="active"{% endif %}><a href="{{ url_for('.show_agent_log') }}">代理</a></li>
        {% if current_user.can(Permission.REVIEW_LEAVE) %}
        <li{% if log_status == '3' %} class="active"{% endif %}><a href="{{ url_for('.show_department_log') }}">部門</a></li>
        {% endif %}
    </ul>
    {% include '_leaveLogs.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.leaveLog') }}
</div>
{% endif %}
{% endblock %}

