{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Leave System - 請假紀錄{% endblock %}

{% block page_content %}
<div class="page-header">
    
</div>
<div class="post-tabs">
    <ul class="nav nav-tabs">
        <li{% if not agent_record %} class="active"{% endif %}><a href="{{ url_for('.show_agent_record') }}">請假紀錄</a></li>
        <li{% if agent_record %} class="active"{% endif %}><a href="{{ url_for('.show_leave_log') }}">代理</a></li>
    </ul>
    {% include '_leaveLogs.html' %}
</div>
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, '.leaveLog') }}
</div>
{% endif %}
{% endblock %}

