{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}

{% block title %}Leave System - Edit User{% endblock %}

{% block page_content %}
<div class="post-tabs">
    <ul class="nav nav-tabs">
        {% if current_user.can(Permission.ADMIN) %}
            <li {% if work_or_holiday_status == '0' %}class="active"{% endif %}><a href="{{ url_for('main.show_work_or_holiday_log') }}">新增事件</a></li>
            <li {% if work_or_holiday_status == '1' %}class="active"{% endif %}><a href="{{ url_for('main.show_work_or_holiday_form') }}">紀錄</a></li>
        {% endif %}
    </ul><br>
    {% if work_or_holiday_status == '1' %}
    {% include '_work_or_holiday_log.html' %}
    {% else %}
    <div class="col-md-4">
        {{ wtf.quick_form(form) }}
    </div>
    {% endif %}
</div>
{% if work_or_holiday_status == '1' %}
{% if pagination %}
<div class="pagination">
    {{ macros.pagination_widget(pagination, 'auth.edit_user') }}
</div>
{% endif %}
{% endif %}
{% endblock %}